<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for NFT</title>
</head>
<body>
    <form action="http://localhost:8000/Surf" method="get" id="form_surf">
        <fieldset>
            <legend>NFT검색하기</legend>
            <input name="surf" type="text" placeholder="NAME or SYMBOL">
            <button type="submit">검색</button>
        </fieldset>
    </form>
    <table id="surf_result" cellspacing="0" cellpadding="5">
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th>Symbol</th>
            </tr>
        <%
            for (let i = 0; i < data.length; i++){
        %>
          
            <tr>
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].symbol%></td>
            </tr>
        <%
            }
        %>
        
    </table>
</body>
</html>